.metadata/
.recommenders/
*/.gitignore
*/.gradle
*/.classpath
*/.gradle/
*/.project
*/.settings/
*/bin/
*/.idea/
*/gradle/
*/gradlew
*/gradlew.bat
*/*.iml
*/build/
*/settings.gradle
spring-boot-samples/
*/*/.gitignore
*/*/.gradle
*/*/.classpath
*/*/.gradle/
*/*/.project
*/*/.settings/
*/*/bin/
*/*/.idea/
*/*/gradle/
*/*/gradlew
*/*/gradlew.bat
*/*/*.iml
*/*/build/
*/*/settings.gradle
*/settings.gradle
