.metadata/
.recommenders/
staticMethodTest/.gitignore
staticMethodTest/.gradle
staticMethodTest/.classpath
staticMethodTest/.gradle/
staticMethodTest/.project
staticMethodTest/.settings/
staticMethodTest/bin/
avoidCodeInjections/.gitignore
avoidCodeInjections/.gradle
avoidCodeInjections/.classpath
avoidCodeInjections/.gradle/
avoidCodeInjections/.project
avoidCodeInjections/.settings/
avoidCodeInjections/bin/
avoidShellInjections/.gitignore
avoidShellInjections/.gradle
avoidShellInjections/.classpath
avoidShellInjections/.gradle/
avoidShellInjections/.project
avoidShellInjections/.settings/
avoidShellInjections/bin/
